---
import { cn } from "../../lib/utils";

type Props = {
  class?: string;
  hover?: boolean;
};

const { class: className, hover = true } = Astro.props;
---

<div
  class={cn(
    "rounded-2xl border border-white/8 bg-white/[0.025] p-6 md:p-7",
    hover && "transition-all duration-200 hover:border-brand/40 hover:bg-brand/[0.04]",
    className,
  )}
>
  <slot />
</div>
