---
import { cn } from "../../lib/utils";

type Props = {
  class?: string;
};

const { class: className } = Astro.props;
---

<p class={cn("font-mono text-[11.5px] font-medium uppercase tracking-[0.16em] text-text-faint", className)}>
  <slot />
</p>
